<div id="wrap-menu-bar">
	<div class="container">
		<div class="row">

			<div class="col-md-2">
				<div class="row">
					<div class="logo-nav">
						<a href="">
							<img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/NEW%29TV_Thailand_Logo.png">
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<div class="row">
					<div class="nav-bar">
						<ul>
							<li><a href="">หน้าแรก</a></li>
							<li><a href="">เติมเงิน</a></li>
							<li><a href="">แลกรางวัล</a></li>
							<li><a href="">สมัครสมาชิก</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="row">
					<div class="nav-point">
						<b style="color:#f1c40f">Point</b> 120 บาท <i style="color:#2ecc71;margin-left:5px;" class="fa fa-refresh" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
